{% extends "base.html" %}

{% block header %}
  <h1> Simulation Parameters </h1>
{% endblock %}

{% block content %}

 <form id="initalize_resources" method="post" action="/simulate">
  <div class="rendered-form">
    <div class="formbuilder-text form-group field-price_history">
        <label for="price_history" class="formbuilder-text-label">Price History<span class="formbuilder-required"></span></label>
        <input type="text" class="form-control" name="price_history" access="false" id="price_history" required="required" aria-required="true">
    </div>
    <div class="formbuilder-text form-group field-shots">
        <label for="shots" class="formbuilder-text-label">No of Shots<span class="formbuilder-required"></span></label>
        <input type="text" class="form-control" name="shots" access="false" id="shots" required="required" aria-required="true">
    </div>
    <div class="formbuilder-radio-group form-group field-trading_signal">
        <label for="trading_signal" class="formbuilder-radio-group-label">Trading Signal Type</label>
        <div class="radio-group">
            <div class="formbuilder-radio">
                <input name="trading_signal" access="false" id="trading_signal-0" value="buy" type="radio">
                <label for="trading_signal-0">Buy</label>
            </div>
            <div class="formbuilder-radio">
                <input name="trading_signal" access="false" id="trading_signal-1" value="sell" type="radio">
                <label for="trading_signal-1">Sell</label>
            </div>
        </div>
    </div>
 </div>
   
   <input type="submit" value="Start Simulation"/>
 </form>

{% endblock %}
